@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  body {
    background: #eeeeee; 
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    color: #7BAE7A;
  }

  p.errors {
    color: #EDAE49;
    text-transform: uppercase;
    font-size: 0.8rem;

    display: flex;
    margin-bottom: 0;
  }

}


/*--- sticky footer ---*/
#gatsby-focus-wrapper, #___gatsby {
  display: flex;
  flex-direction: column;  
  height: 100vh;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
}

.section-start {
  color: #cdcdcd;
  background: #394053;

  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}  

.section-grey {
  background: #cdcdcd;

  padding: 2rem;
  margin: 0;

}  

.section-blue {
  background: #394053;

  padding: 4rem 2rem;
  margin: 0;

}  

.section-blue h1 {
  color: #EDAE49;
}  

.section-yellow {
  background: #EDAE49;

  padding: 4rem 2rem;
  margin: 0;

}  

.section-yellow h1 {
  color: #394053;
}  





.subfooter {
  color: #eee;
  background: #7BAE7A;
  padding: 2rem;
}

.subfooter p {
  margin: 0;
}


footer {
  color: #eee;
  background: #394053;
  padding: 2rem;

  font-weight: 100;
}


/* type */

h1, h2, h3, h4 {
  font-family: circe, sans-serif;
  font-weight: 800;
  font-style: normal; 
}

[type='checkbox']:checked, [type='radio']:checked {
  border-color: transparent;
  background-color: #7BAE7A;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



input::-webkit-input-placeholder, date::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C6C6C6;
  font-weight: 100;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

progress {
  width: 100%;
  color: #cdcdcd;
  margin-bottom: 1rem;
}

progress::-webkit-progress-bar {
  background-color: #cdcdcd;
}
progress::-webkit-progress-value {
  background-color: #7BAE7A;
}

/*--form --*/

form input {
  width: 100%;
}

.idpc-select {
  margin-top: 1rem;
  width: 100%;
}

.idpc-input {
  margin-top: 1rem;
  width: auto;
}


/*-- lists --*/

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol > li:before {
  content: counters(item, ".") ". ";
  margin-left: -20px;
}

@layer components {
    .btn-blue {
      @apply w-1/3 py-2 px-4 m-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75;
    }

    .idpc-button {
      @apply py-2 px-4 mt-2 mx-auto bg-blue-500 text-white font-semibold rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75;
    }  

    .btn-blue-input {
      @apply w-full bg-blue-500 text-white font-semibold shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 font-bold p-2 uppercase border-gray-500 border-t border-b border-r;
    }    

    .btn-green {
        @apply w-1/3 py-2 px-4 m-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-green-200 hover:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75;
      }   
      
    .btn-start {
        @apply block py-2 px-8 my-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-green-200 hover:text-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75;
      }   

    .section {
      @apply p-4 md:p-12 mx-4 bg-gray-50 text-gray-500;
    }
  }