@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #eeeeee; 
}

/*--- sticky footer ---*/
#gatsby-focus-wrapper, #___gatsby {
  display: flex;
  flex-direction: column;  
  height: 100vh;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
}

.section-start {
  color: #cdcdcd;
  background: #394053;

  padding: 1rem;
  margin: 2rem 0;

}  

.section-grey {
  background: #cdcdcd;

  padding: 2rem;
  margin: 2rem 0;

}  

.subfooter {
  color: #eee;
  background: #7BAE7A;
  padding: 2rem;
  margin-top: 3rem;
}

.subfooter p {
  margin: 0;
}


footer {
  color: #eee;
  background: #394053;
  padding: 2rem;
}


/* type */

h1, h2, h3, h4 {
  font-family: circe, sans-serif;
  font-weight: 800;
  font-style: normal; 
}

[type='checkbox']:checked, [type='radio']:checked {
  border-color: transparent;
  background-color: #7BAE7A;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cdcdcd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

progress {
  width: 100%;
  color: #cdcdcd;
  margin-bottom: 1rem;
}

progress::-webkit-progress-bar {
  background-color: #cdcdcd;
}
progress::-webkit-progress-value {
  background-color: #7BAE7A;
}

@layer components {
    .btn-blue {
      @apply py-2 px-4 m-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .btn-blue-input {
      @apply w-full bg-blue-500 text-white font-semibold shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 font-bold p-2 uppercase border-gray-500 border-t border-b border-r;
    }    

    .btn-green {
        @apply py-2 px-4 m-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
      }   
      
    .btn-start {
        @apply py-2 px-8 my-2 bg-green-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
      }   

    .section {
      @apply p-12 bg-gray-50 text-gray-500;
    }
  }